{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <script src="{% static 'bundle.js' %}" defer></script>
    {% include "../components/title.html" %}
  </head>
  <body>
    {% if user.is_authenticated %}
      {% include "../components/admin/admin_nav.html" %}
    {% endif %}
    <div class="alert-container">
      {% include "../components/alert.html" %}
    </div>
      {% block content %}{%endblock %}
  </body>
</html>
