{% extends '../config/base.html' %}

{% load i18n %}

{% block content %}
    <div class="container py-5">
        <div class="pt-3">
            <p class="h2 text-center">
                {% trans 'Təşəkkür edirik!' %}
            </p>
            <p class="h5 font-weight-normal text-center">
                {% trans 'Bizim əməkdaşlar sizinlə ən tez zamanda əlaqə saxlayacaq!' %}
            </p>
            <hr>
            <p class="h4 font-weight-normal text-center">
                {% trans 'Sizin sorğu nömrəniz - ' %} <span class="font-weight-bolder">{{object.order_id}}</span>
            </p>

            <a href="{{object.product_link}}" class="mt-4 d-block h4 text-center text-dark">
                {{object.tire}}
            </a>
        </div>
    </div>
{% endblock content %}