{% extends "../config/main-base.html" %} 

{% block seo %}
  <meta name="description" content="Avtotəkər sizin üçün müxtəlif ölçülərdə olan seçilmiş markaların təkərlərin rəsmi zəmanətlə nağd, faizsiz taksitlə və kreditlə satışın təklif edir. Horizon, Vitour, Westlake, yük Kapsen, Kumho, Dunlop, Yokohama və Continental şinlərin distribütoru. Avtotəkərdə peşakar şinomontaj, balans, razval, yağdəyişmə və çilingər xidmətləri mövcuddur. #teker #təkər
  BirKartla və TamKartla 6 ayadək faizsiz taksitlə.">



  <title>#teker #təkər | Avtotəkər | Horizon, Vitour, Dunlop, Yokohama, Continental</title>
{% endblock seo %}

{% block content %}
    {% include "../components/main-site/tire-search.html" %}
{% endblock content %}