{% extends "../config/main-base.html" %}
{% load static %}
{% load size_parser %}

{% block seo %}

  <title>Kreditlər | #teker #təkər | Avtotəkər</title>

{% endblock seo %}

{% block content %}
    {% include "../components/main-site/tire-search.html" with size_link="active" size_box="show" %}
    
    <h1 class="main-list__heading my-5">Kreditlə təkər</h1>

    <div class="main-list mb-3">
        <div class="main-list__main-row">
            <div class="col-md-12">
                {{object.title|safe}}
                <hr>
                {{object.description|truncatechars_html:object.truncate|safe}}
            </div>
        </div>
    </div>
{% endblock content %}

