{% extends "../config/main-base.html" %}
{% load taksit_kredit %}


{% block content %}

    {% include "../components/main-site/tire-search.html" %}
    {% include "../components/order-modal-form.html" %}
    <section class="main-list">
        <div class="main-list__main-row">
            {% for object in object_list %}
            <div class="main-list__col-12">
                <div class="main-list__card">
                    <!-- <div class="main-list__side-info">
                        <small class="main-list__side-single">3 ay {{object.kredit_3_dif|floatformat}}%</small>
                        <small class="main-list__side-single">6 taksit</small>
                        <small class="main-list__side-single">1 illik pulsuz servis</small>
                    </div> -->
                    <div class="main-list__sub-row">
                            <img class="main-list__item-logo" src="{{object.brand.image.url}}" alt="{{object.brand}}">
                    </div>
                    <p class="main-list__card-text text-right pr-4">{{object.serie}}</p>
                    <p class="main-list__card-text text-right pr-4">{{object.get_size|safe}}</p>
                    <div class="main-list__sub-row--2">
                        <div class="main-list__col-sm">

                                <img
                                src="{{object.image.url}}"
                                class="main-list__img"
                                alt="{{object.brand}}"
                                />
    
                        </div>
                        <div class="main-list__col-sm--2">
                            <div class="main-list__card-body">
                                <div class="main-list__card-text--2">
                                    {{object.get_filters|safe}}
                                </div>
                                <div class="mt-1">
                                    {% include "../components/main-site/image.html" with object=object.season %}
                                </div>
                                <div class="mt-1">
                                    {% include "../components/main-site/image.html" with object=object.brand.country %}
                                    {% include "../components/main-site/image.html" with object=object.manufacturer %}
                                </div>
                                <div class="main-list__price-info">
                                    <div class="price">
                                        <span class="red-line-trought font-larger">
                                            {{object.USDNO|floatformat}}
                                        </span>
                                    </div>  
                                    <div class="price text-center  pr-1">
                                        <span class="text-red font-xl">{{object.USD|floatformat}}</span>
                                        <span class="manat">₼</span>
                                    </div>  
                                    {% if object.taksit_active %}  
                                        {{ object|get_taksit|safe}}
                                    {% elif object.kredit_active %}
                                        {{ object|get_kredit|safe}}
                                    {% endif %}
                                </div>
                                <div class="main-list__btn-box">
                                    <button type="button" data-toggle="modal"
                                    data-target="#order" class="main-list__cart-btn"
                                    data-max="{{object.quantity}}"
                                    data-id="{{object.id}}">
                                        {% include "../components/main-site/cart.html" %}
                                    </button>
                                    <a href="{% url 'detail' object.id %}" class="main-list__detail-btn">Ətraflı</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% include "../components/pagination.html" %}
</div>
{% endblock content %}
