{% extends "../config/main-base.html" %}
{% load static %}
{% load taksit_kredit %}
{% load size_parser %}
{% load edv %}
{% load text %}

{% block seo %}
  {% parse_size_for_meta request as size %}

  {% if size and not object_list.is_empty %}
    <meta name="description" content="{{size}} Təkər? Avtotəkərdə! Horizon, Vitour, Westlake, yük Kapsen, Kumho, Dunlop, Yokohama və Continental şinləri. Avtotəkərdə peşakar şinomontaj, balans, razval, yağdəyişmə və çilingər xidmətləri. BirKartla və TamKartla təkər - 6 ayadək faizsiz taksitlə. #teker #təkər.">
  {% endif %}

  <title>{% parse_size_for_title request %} | #teker #təkər | Avtotəkər</title>

{% endblock seo %}

{% block content %}
    {% get_edv as edv %}
    {% get_price_3_text as price_3_text %}

    {% include "../components/phone-location-link-container.html" %}
    {% include "../components/main-site/tire-search.html" with size_link="active" size_box="show" %}
    {% include "../components/order-modal-form.html" %}
    {% include "../components/image-preview-modal.html" %}
    
    <h1 class="main-list__heading">{% parse_size_for_list request %}</h1>
    <div class="main-list">
        <div class="main-list__main-row">
            {% for object in object_list %}
            <div class="main-list__col-12">
                <section class="main-list__card">
                    <div class="main-list__sub-row">
                        {% include "../components/main-site/side-info.html" with object=object %}
                            <img class="main-list__item-logo mb-1" src="{{object.brand.image.url}}" alt="{{object.brand}}">
                    </div>
                    <h4 class="main-list__card-text text-right pr-4">{{object.serie}}</h4>
                    <h4 class="main-list__card-text text-right pr-4">{{object.get_size|safe}}</h4>
                    <div class="main-list__sub-row--2">
                        {% include "../components/product-image.html" with object=object %}
                        <div class="main-list__col-sm--2 w-40 mb-5">
                            <div class="main-list__card-body">
                                <div class="main-list__card-text--2">
                                    <div class='ml-2'>
                                        {% if object.year == 2020 or object.year == 2021 %}
                                            {{object.year}}
                                        {% endif %}
                                       {% if object.weight %}
                                        {{object.weight}}
                                       {% endif %}
                                     {{object.speed}}</div>
                                </div>
                                <div class="main-list__card-text--2">
                                    {{object.tradeware}}
                                </div>
                                <div class="mt-2">
                                    {% include "../components/main-site/image.html" with object=object.season %}
                                </div>
                                <div class="mt-2 mb-4">
                                    {% include "../components/main-site/image.html" with object=object.brand.country %}
                                    {% include "../components/main-site/image.html" with object=object.manufacturer %}
                                </div>
                                <div class="main-list__price-info mt-md-5 mr-1">
                                    {% if object.sale_active %}
                                    <div class="price">
                                        <span class="red-line-trought  font-larger--2 opacity-8">
                                            {{object.price|floatformat:-2}}
                                        </span>
                                    </div>  
                                    <div class="price text-right">
                                        <span class="text-red font-xl">{{object.sale|floatformat:-2}}</span>
                                        <span class="manat">
                                            <img src="{% static 'img/manat.png' %}" alt="₼">
                                        </span>
                                    </div>  
                                    {% else %}
                                    <div class="price text-right">
                                        <span class="text-red font-xl">{{object.price|floatformat:-2}}</span>
                                        <span class="manat">
                                            <img src="{% static 'img/manat.png' %}" alt="₼">
                                        </span>
                                    </div>  
                                    {% endif %}         
                                </div>
                            </div>
                        </div>
                        {% if object.price_3 and price_3_text %}
                        <div class="bg-my-primary py-2 px-3 mb-5 price-3-style">
                            <div>{{ price_3_text }}</div>
                            <div class="text-danger price mx-3">
                                {{object.price_3}}
                            </div>
                             <div class="price-manat">
                                <img src="{% static 'img/manat.png' %}" alt="₼">
                             </div>
                        </div>
                        {% endif %}
                        <div class="row justify-content-end w-100 no-gutters">
                            {% include "../components/edv.html" with object=object edv=edv %}
                            {% if object.release_date %}
                                {% include "../components/comming-soon.html" with object=object %}
                            {% elif object.new %}
                                {% include "../components/new-product-banner.html" with object=object %}
                            {% endif %}
                            {% include "../components/sticker-carousel.html" with object=object %}
                            <div class="col-12"> 
                                {{ object|get_kredit_taksit|safe}}
                            </div>
                        </div>
                        <div class="main-list__btn-box">
                            <button type="button" data-toggle="modal"
                                data-target="#order" class="main-list__cart-btn"
                                data-max="{{object.quantity}}"
                                data-price="{{object.sale}}"
                                data-id="{{object.id}}">
                                Sifariş et
                            </button>
                            <a href="{{object.get_absolute_url}}" class="main-list__detail-btn">Ətraflı</a>
                        </div>
                    </div>
                </section>
            </div>
            {% empty %}
                <h3 class="main-list__empty-text">Hal hazırda yoxdur</h3>
            {% endfor %}
        </div>
    </div>
    {% include "../components/pagination.html" %}
    <div class="main-index">
        {% include "../components/main-site/slider.html" %}
        {% include "../components/main-site/map.html" %}
        {% include "../components/main-site/brand-carousel.html" %}
    </div>

{% endblock content %}
