{% load meta %}
{% get_meta as meta %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %} 

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    {% block seo %}{% endblock seo %}
    {{meta|safe}}
    {% include "../components/head/bundle.html" %}
    {% include "../components/head/favicon.html" %}
  </head>
  <body>
    {% include "../components/navigation/navigation.html" %}
    <main class="main">
      <div>
        {% block content %}{% endblock %}
      </div>
      {% include "../components/footer/footer.html" %}
    </main>
  </body>
</html>
