{% extends "../config/main-base.html" %}

{% block seo %}

  <title>Haqqımızda | #teker #təkər | Avtotəkər</title>

{% endblock seo %}

{% block content %}
    {% include "../components/phone-location-link-container.html" %}
    <div class="bg-light-2 text-center py-1">
        <a class="text-my-secondary" href="{% url 'home' %}">Şın seçiminə qayıtmaq</a>
    </div>
    <div class="container mt-5 mt-md-4">
        {% for object in object_list %}
        <div class="row">
            {% include "../components/content.html" with main=True object=object %}
            {% for sub_content in object.sub_contents.all %}
                {% include "../components/content.html" with main=False object=sub_content %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}