{% extends "../config/base.html" %}

{% load i18n %}
{% load static %}
{% load size_parser %}

{% block seo %}

  <title>{% trans 'Haqqimizda' %}</title>

{% endblock seo %}

{% block content %}
    {% include "../components/phone-location-link-container.html" %}
    {% include "../components/main-site/tire-search.html" with size_link="active" size_box="show" %}
    
    <div class="main-container container my-4">
      {{about.content|safe}}
      
      {% include "../components/main-site/map.html" %}
    </div>

{% endblock content %}


