{% extends "../config/base.html" %}
{% load size_parser %}
{% load i18n %}

{% block seo %}

  <title>{% trans 'Xəbərlər | #teker #təkər | Avtotəkər' %}</title>

{% endblock seo %}

{% block content %}
    {% include "../components/phone-location-link-container.html" %}
    {% include "../components/main-site/tire-search.html" with size_link="active" size_box="show" %}
    
    <div class="main-list my-5">
        <div class="main-list__main-row">
            <div class="col mt-2">
                <div class="row justify-content-center px-md-4 object-fit-contain">
                    {% if object.image %}
                    <div class="col-md-12">
                        <img class="w-100" src="{{ object.image.url }}" alt="{{object.slug}}">
                    </div>
                    {% endif %}
                </div>
                {% if object.title and object.description and object.extra %}
                <div class="px-md-4">
                    <div class="d-block mt-5 mb-4">
                        {{object.title|safe}}
                    </div>
                    {{object.description|safe}}
                    <hr>
                    {{object.extra|safe}}
                </div>
                {% endif %}
            </div>
           
        </div>
    </div>
    {% include "../components/pagination.html" %}
    <div class="main-container container">
      
      {% include "../components/main-site/map.html" %}
     
    </div>

{% endblock content %}

