{% extends '../config/admin-base.html' %}

{% block content %}
    <div class="specific-list">
        <div>
            {% for object in object_list %}
                {% include "../components/card.html" with object=object %}
            {% empty %}
                <div class="specific-list__empty">
                    <h2 class="specific-list__empty-text">Empty {{title}} List</h2>
                </div>
            {% endfor %}
            {% include "../components/pagination.html" %}
        </div>   
    
        <a href="{{add_page}}" class="specific-list__btn">Add {{title}}</a>        
    </div>
{% endblock content %}