<header class="header">
    {% include "./top.html" %}
    <div class="header__nav__container">
      <nav class="header__nav">
          <a class="header__nav__logo" href="{% url 'home' %}">
              {% include "../logo.html"%}
          </a>
          <button class="header__nav__toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="header__nav__nav">
              <li class="header__nav__item">
                <a class="header__nav__link" href="{% url 'home' %}">Home</a>
              </li>
              <!-- <li class="header__nav__item">
                <a class="header__nav__link " href="#">About</a>
              </li>
              <li class="header__nav__item">
                <a class="header__nav__link" href="#">Service</a>
              </li>
              <li class="header__nav__item">
                <a class="header__nav__link  pr-0" href="#">Oil</a>
              </li> -->
            </ul>
          </div>
      </nav>
    </div>
</header>