<a href="{{object.get_absolute_url}}" class="specific-card">
<div class="specific-card__box">
    <div class="specific-card__row">
      <div class="specific-card__col--4">
        <img src="{{object.image.url}}" class="specific-card__img" alt="{{object.title}}">
      </div>
      <div class="specific-card__col--8">
        <div class="specific-card__body">
          <h2 class="specific-card__title">{{object.title}} 
            {% if title == 'Serie' %}
             - {{ object.brand.title }}
            {% endif %}
          </h2>
          {% if object.description %}
          <p class="specific-card__text">{{object.description|safe}}</p>
          {% endif %}
        </div>
      </div>
    </div>
</div>
</a>