<div class="{% if main %} main-content {% else %} sub-content mt-3 {% endif %} col-12">
    <div class="{% if main %} main-content-heading {% else %} sub-content-heading {% endif %}">
        <span class="{% if main %} main-content-symbol {% else %} sub-content-symbol {% endif %}">
            <span></span>
        </span>
        <div class="ml-4">{{ object.heading|safe }}</div>
    </div>
    {% if object.image %}
    <div>
        <img src="{{object.image.url}}" alt="{{object.title}}" class="w-100">
    </div>
    {% endif %}
    <div class="{% if main %} main-content-body {% else %} sub-content-body {% endif %}">
        {{ object.content|safe }}
    </div>
</div>
{% include "../components/video.html" with object=object not_margin=True %}
