{% load edv %}

{% if edv.logo %}
<div class="col-12 mb-4">
    <div class="edv-container">
        <div class="edv-logo {% if not detail %} ml-auto {% endif %}">
            <img src="{{edv.logo}}" class="w-100">
        </div>
        {% if detail %}
        <p class="edv-price pl-3 ml-2 d-flex align-items-center font-medium">
            <span><snap class="text-danger">{{object|get_edv_price:edv.percentage}} </snap> 
            - dək </span>
        </p>
        {% endif %}
    </div>
</div>
{% endif %}