{% load sticker %}

{% if object.stickers.all %}
<section class="mb-5">
    <h2 class="text-center">Hədiyyələr və güzəştlər</h2>
    <hr>
    {% for sticker in object.stickers.all %}
        {% if sticker.active %}
            <div class="container px-0 pb-3">
                <div class="row no-gutters mb-4">
                    <div class="col-12">
                        {% include "./sticker.html" with sticker=sticker %}
                    </div>
                    <div class="col-12 mt-3">
                        {{sticker.get_content|safe}}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>
{% endif %}