<div class="sticker-container">
    <div class="d-flex align-items-center justify-content-end w-100 h-100">
        <div class="h-100" style="width: {{ sticker.image_width }}% !important;background-color: {{sticker.color}}">
            <img class="w-100 h-100 object-fit-contain" src="{{ sticker.image.url }}" alt="{{ sticker.text }}">
        </div>
        <div class="p-1 d-flex justify-content-center align-items-center bg-danger text-light h-100 text-center" style="width: {{ sticker.text_width }}% !important;font-size: {{sticker.text_font}}px !important">
            {{ sticker.text }}
        </div>
    </div>
</div>