@font-face {
  src: url("../fonts/Averta_Avto.ttf");
  font-weight: 400;
  font-family: Averta_avto;
}

@font-face {
  font-family: Averta_avto;
  font-weight: 700;
  src: url("../fonts/346526_2_0-b68b923f95695860fef4e27dbe4c742c.woff2");
}

@font-face {
  font-family: Averta_avto;
  font-weight: 500;
  src: url("../fonts/346526_C_0-2698ac8eb8035cbb2f4007204717b111.woff2");
}

@font-face {
  font-family: Averta_avto;
  font-weight: 300;
  src: url("../fonts/346526_C_0-d543b03fa0c0fb9a4f9f156b4facf083.woff2");
}

$font-family-sans-serif: Averta_avto;

$theme-colors: (
  "my-primary": #fb0,
  "my-secondary": #333,
);
$pagination-color: #333;
$pagination-active-color: #fff;
$pagination-active-bg: #333;
$pagination-hover-color: #333;

$table-dark-color: #fff;
$table-dark-bg: #333;
$table-dark-border-color: #333;

$navbar-light-color: #333;
$navbar-light-toggler-border-color: #333;

$custom-control-indicator-checked-bg: #333;
$custom-control-indicator-checked-box-shadow: #333;
$custom-checkbox-indicator-indeterminate-bg: #333;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import "./utils/mixin";
@import "./utils/dimensions";
@import "./base";
@import "./utils/typography";

@import "./admin/login";

@import "./specific/detail";
@import "./specific/form";
@import "./specific/list";

@import "./tireapp/detail";
@import "./tireapp/form";
@import "./tireapp/list";

@import "./main_site/index";
@import "./main_site/list";
@import "./main_site/detail";

@import "./components/admin-navbar";
@import "./components/header/index";
@import "./components/card";
@import "./components/import-export";
@import "./components/alert";
@import "./components/icons";
@import "./components/tire-search";
@import "./components/flag";
@import "./components/custom-pagination";
@import "./components/custom-modal";
@import "./components/cart";
@import "./components/footer";
@import "./components/brand-carousel";

@import "./config/main-base";
