/* VARIABLE DEFINITIONS */
:root {
  --primary: #333;
  --secondary: #fb0;
  --accent: #fff;
  --primary-fg: #fff;

  --body-fg: #333;
  --body-bg: #fff;
  --body-quiet-color: #666;
  --body-loud-color: #000;

  --header-color: #fff;
  --header-branding-color: var(--accent);
  --header-bg: var(--secondary);
  --header-link-color: var(--primary-fg);

  --breadcrumbs-fg: #fff;
  --breadcrumbs-link-fg: var(--body-bg);
  --breadcrumbs-bg: var(--primary);

  --link-fg: #333;
  --link-hover-color: #000;
  --link-selected-fg: var(--secondary);;

  --hairline-color: #e8e8e8;
  --border-color: #ccc;

  --error-fg: #ba2121;

  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;

  --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
  --selected-bg: #e4e4e4; /* E.g. selected table cells */
  --selected-row: var(--primary);

  --button-fg: #fff;
  --button-bg: var(--primary);
  --button-hover-bg: #000;
  --default-button-bg: var(--secondary);
  --default-button-hover-bg: rgb(227, 167, 4);
  --close-button-bg: #333; /* Previously #bbb, contrast 1.92 */
  --close-button-hover-bg: #000;
  --delete-button-bg: #ba2121;
  --delete-button-hover-bg: #a41515;

  --object-tools-fg: var(--button-fg);
  --object-tools-bg: var(--close-button-bg);
  --object-tools-hover-bg: var(--close-button-hover-bg);
}

tr.selected *,
tr.current-model * {
  color: #fff !important;
}

.admin-logo {
  width:120px
}

.admin-title * {
  color: #333 !important;
}

#user-tools,
#user-tools a {
  color: var(--body-fg) !important;
}

#user-tools a {
  border-bottom: none;
}

#user-tools a:hover {
  border-bottom: 1px solid var(--body-fg);
}

input.default {
  color: var(--body-fg);
}