<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   <div>{% if object.tire %} Tire: {{ object.tire }} {% else %} Oil: {{ object.oil }} {% endif %}</div>
   {% if object.tire %}
    <div>Quantity: {{ object.quantity }} </div>
   {% endif %}
   <div>Payment Type: {{ object.get_payment_type }}</div>
   <br>
   <a href="{{ object.get_absolute_email_url }}">Link</a>
   <br>
   <div>ID: {{ object.uuid }}</div>
   <div>Client ID: {{ object.order_id }}</div>
   <br>
   {% if object.name %}
    <div>Name: {{object.name}}</div>
   {% endif %}
   <div>Phone: <a href="tel:{{ object.phone }}">{{ object.phone }}</a></div>
   {% if object.email %}
    <div>Email: {{ object.email }}</div>
   {% endif %}
   <br>
   {% if object.oil and object.note %}
    <div>
        Note: {{object.note}}
    </div>
   {% endif %}
</body>
</html>