{% extends "../config/base.html" %} 
{% load static %}
{% load rating %} 
{% load taksit_kredit %}
{% load edv %}
{% load price_3 %}

{% load i18n %}
{% load tire_info %}

{% block seo %}
  <meta name="description" content="{{object.size.get_size_for_title}} {{object.brand.title}} {{object.serie.title}} {% trans 'Təkər? Avtotəkərdə! Horizon, Vitour, Westlake, yük Kapsen, Kumho, Dunlop, Yokohama və Continental şinləri. Avtotəkərdə peşakar şinomontaj, balans, razval, yağdəyişmə və çilingər xidmətləri. BirKartla və TamKartla təkər - 6 ayadək faizsiz taksitlə. #teker #təkər.' %}">

  <title>{{object.brand.title}} {{object.serie.title}} {{object.size.get_size_for_title}} {% trans '| #teker #təkər | Avtotəkər' %}</title>
{% endblock seo %}

{% block content %} 
{% get_price_color object as price_color %}
{% get_edv as edv %}

{% include "../components/order-modal-form.html" %}
{% include "../components/image-preview-modal.html" %}
{% include "../components/phone-location-link-container.html" %}
{% include "../components/main-site/tire-search.html" with size_link="active" size_box="show" %}

<div class="d-flex justify-content-center align-items-center mt-3">
    <h1 class="main-list__heading detail-header">{{object}}</h1>
</div>

<hr class="detail-header-line">
<div class="container mb-5">
  <div class="main-list__main-row">
    <div class="main-list__col-12 ">
      <div>
        <div class="d-flex justify-content-end">
          {% include "../components/main-site/side-info.html" with object=object %}
          <div>
            <img
              class="main-list__item-logo mb-1"
              src="{{object.brand.get_image}}"
              title="{{object.brand}}"
              alt="{{object.brand}}"
            />
          </div>
        </div>

        <p class="main-list__card-text text-right detail-serie-font">
          {{object.serie}}
        </p>
        <p class="main-list__card-text text-right">
          {{object.get_size|safe}}
        </p>

        {% include "../components/tire/detail/oe-year.html" with object=object show_oe=True show_year=True %}

        {% include "../components/tire/detail/RF.html" %}

        <div class="main-list__sub-row--2">
          
          {% include "../components/product-image.html" with object=object %}
          <div class="main-list__col-sm--2 w-35 mb-5">
            <div class="main-list__card-body">
              <div class="main-list__card-text--2 detail-font-larger">
                <div class='ml-2'>{{object.weight}} {{object.speed}}</div>
              </div>
              {% include "../components/tire/detail/indexes.html" with object=object %}
              <div class="mt-3">
                {% include "../components/main-site/image.html" with object=object.season %}
              </div>
              <div class="mt-2 mb-4">
                {% include "../components/main-site/image.html" with object=object.brand.country %} 
                {% include "../components/main-site/image.html" with object=object.manufacturer %}
              </div>
              {% include "../components/tire/price.html" with object=object %}
            </div>
            {% include "../components/main-site/third-price.html" with object=object %}
          </div>
        </div>
        <div>
          <div class="row justify-content-end ml-auto no-gutters">
              <div class="col-12"> 
                  {% include "../components/main-site/kredit-taksit-carousel.html" with object=object request=request %}
              </div>
              {% include "../components/tire/additional-info.html" with object=object edv=edv %}
          </div>
          {% include '../components/tire/social-box.html' with object=object detail=True %}
          <div class="d-flex justify-content-end align-items-center ml-auto mt-4">
            <span class="d-inline-block mr-2">{% trans 'Say' %}</span>
            <span class="detail-qtn 
              {% if object.get_quantity_is_numeric %} 
                circle 
              {% else %} 
                rounded-1 
              {% endif %}
            " title="Stock">
              {{object.get_quantity}}
            </span>
          </div>
        </div>
      </div>
    </div>
    {% include "../components/tire/detail/tire-class.html" with object=object %}
    {% include "../components/tire/detail/OE-description.html" with object=object %}
    <div class="detail-content">
      {% include "../components/sticker-descriptions.html" with object=object %}
      {% include "../components/campaign-descriptions.html" with object=object %}
    </div>
  </div>
  {% include "../components/tire/detail/kredit-taksit-table.html" with object=object %}

  <div class="row justify-content-center px-0 px-md-3">
    <div class="col-md-12 detail-info">
      <div class="d-flex mt-2">
        <div class="detail-banner mr-1 bg-primary-1">
          {% trans 'Montaj+Balans' %}
        </div>
        <div class="detail-banner bg-light">
          {{object.montaj_balance|floatformat}} {% trans 'azn / ədəd' %}
        </div>
      </div>
      <div class="d-flex mt-2">
        <div class="detail-banner mr-1 bg-primary-1">{% trans 'Disk təmiri' %}</div>
        <div class="detail-banner bg-light">{% trans '10 - 15 azn / ədəd' %}</div>
      </div>
      <div class="d-flex mt-2">
        <div class="detail-banner mr-1 bg-primary-1">{% trans 'Razval' %}</div>
        <div class="detail-banner bg-light">
          {{object.razval|floatformat}} {% trans 'azn' %}
        </div>
      </div>

      {% if object.brand.get_free_service %}
      <div class="d-flex mt-2">
        {% if object.brand.two_year_free_service %}
          <div class="detail-banner mr-1 bg-primary-1">{% trans 'Iki illik servis' %}</div>
        {% else %}
          <div class="detail-banner mr-1 bg-primary-1">{% trans 'Bir illik servis' %}</div>
        {% endif %}
        <div class="detail-banner bg-light">{% trans 'hədiyyə' %}</div>
      </div>
      {% endif %}
      <div class="d-flex mt-2">
        <div class="detail-banner mr-1 bg-primary-1">
         {% trans '2 / 4 təkər üçün ventil' %}
        </div>
        <div class="detail-banner bg-light">{% trans '3 / 5 azn' %}</div>
      </div>
      {% if object.brand.one_year_warranty %}
      <div class="d-flex mt-2">
        <div class="detail-banner mr-1 bg-primary-1">{% trans 'Əlavə bir il zəmanət' %}</div>
        <div class="detail-banner bg-light">
          {{object.brand.one_year_warranty}}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row mb-3 mt-5">
    <div class="col">
        <p>{{object.size.get_size_for_title}} {{object.brand.title}} {{object.serie.title}} 
        {% if object.serie.description %}
          {{object.serie.description|safe}}
        {% endif %}
        </p> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4 d-flex align-items-center">
      <div class="detail-rating-box pt-1">
        <div class="detail-rating-row">
          <div class="rating-label">{% trans 'Dry' %}</div>
          <div class="rating-value">{{object.serie.dry|get_rating|safe}}</div>
        </div>
        <div class="detail-rating-row">
          <div class="rating-label">{% trans 'Wet' %}</div>
          <div class="rating-value">{{object.serie.wet|get_rating|safe}}</div>
        </div>
        <div class="detail-rating-row">
          <div class="rating-label">{% trans 'Snow' %}</div>
          <div class="rating-value">{{object.serie.snow|get_rating|safe}}</div>
        </div>
        <div class="detail-rating-row">
          <div class="rating-label">{% trans 'Offroad' %}</div>
          <div class="rating-value">
            {{object.serie.offroad|get_rating|safe}}
          </div>
        </div>
        <div class="detail-rating-row">
          <div class="rating-label">{% trans 'Comfort' %}</div>
          <div class="rating-value">
            {{object.serie.comfort|get_rating|safe}}
          </div>
        </div>
        <div class="detail-rating-row">
          <div class="rating-label">{% trans 'Noise' %}</div>
          <div class="rating-value">{{object.serie.noise|get_rating|safe}}</div>
        </div>
        <div class="detail-rating-row">
          <div class="rating-label">{% trans 'Treadware' %}</div>
          <div class="rating-value">
            {{object.serie.treadware|get_rating|safe}}
          </div>
        </div>
        <div class="detail-rating-row">
          <div class="rating-label">{% trans 'Value' %}</div>
          <div class="rating-value">{{object.serie.value|get_rating|safe}}</div>
        </div>
      </div>
    </div>
    {% if object.serie.extra  %}
    <div class="col-md-6 detail-extra">{{object.serie.extra|safe}}</div>
    {% endif %}
  </div>
  {% include "../components/tire/detail/about-brand.html" with object=object %}
</div>


<div class="main-container container px-0 mb-5">
  {% include "../components/main-site/map.html" %}
</div>
{% endblock content %}

