.text-red {
  color: #ea3223;
}

.line-through {
  position: absolute;
  margin: 0;
  top:2px;
  left:-3px;
  transform: rotate(-20deg);
  width: 200%;
  height: 0.01px ;
  border-width: 0.01px;
}

.red-line-through {
  background-color: #ea3223;
}


.white-line-through {
  background-color: #ffffff;
  transform: rotate(-19deg);
  top:4px;
  left:-7px;
}


.black-transparent-line-trought {
  background-color: #00000060;
  height: 1px;

  transform: rotate(-15deg);

  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
}

.font-medium {
  font-size: 18px;
}

.font-larger {
  line-height: 1.2;
  font-size: 20px;

  &--2 {
    line-height: 1.2;
    font-size: 26px !important;
  }
}

.font-smaller {
  line-height: 1.2;
  font-size: 15px;
}

.font-xl {
  font-size: 35px;
}

.non-sale {
  font-size: 24px;
  padding: 0 12px;
}



.price {
  display: flex;
  justify-content: flex-end;
  padding: 6px 12px;
  line-height: 1;
  font-weight: 600 ;
  min-width: 50%;


  .price-cash {
    font-size: 48px;
    margin-right: 12px;
    
  }

  &.r {
    @extend .bg-danger;
    color: #fff;
  }

  &.y {
    background-color: #ffbb00;
    color: #000 !important;

    & img {
      filter: none;
    }
  }

  &.g {
    background-color: #a7a7a7;
    color: #fff;
  }

}

div.sub-price {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 31px;

  margin: 2px 0;

  p {
    margin-bottom: 0;
    font-size: 24px;
  }
  img {
    width: 24px;
    filter: brightness(0) invert(1);
  }
}


.font-weigth-400 {
  font-weight: 400 !important;
}

.font-bolder {
  font-weight: bolder;
}

.line-height-1 {
  line-height: 1;
}
