{% load navigation_list %}

{% get_logo as logo %}

<!DOCTYPE html>{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block pagetitle %}Avtoteker{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}" type="text/css"/>
    <style type="text/css" media="screen">
        {% include 'rosetta/css/rosetta.css' %}
        {% include '../admin/admin-base.css' %}
    </style>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        {% include 'rosetta/js/rosetta.js' %}
    </script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="branding">
                  {% if logo %}
                    <a href="{% url 'admin:index' %}">
                    <img src="{{logo.get_image_url}}" class="admin-logo" alt="logo">
                    </a>
                {% else %}
                <h1 id="site-name"><a href="{% url 'admin:index' %}">BMS</a></h1>
                {% endif %}
            </div>
            <div id="user-tools">
              <a href="{% url 'admin:index' %}">Admin</a> /
              <a href="{% url 'home' %}">View site</a>
            </div>
        </div>
        <div class="breadcrumbs">{% block breadcumbs %}{% endblock %}</div>
        <div id="content" class="flex">
            {% block main %}{% endblock %}
        </div>
    </div>
</body>
</html>
