{% load static %}
{% load price %}

{% if object.price %}
<div class="main-list__price-info my-4 d-flex flex-column align-items-start">
    {% if object.sale %}
        <div class="non-sale opacity-8 bg-light py-0.5 d-inline-block position-relative overflow-hidden">
            <span >{{object.price|floatformat:-2}}</span>
            <hr class="line-through red-line-through">
        </div>
        <div class="d-flex align-items-center justify-content-end w-100">
            <div class="price text-center {% if object.price_3 %} bg-dark {% else %} bg-danger {% endif %} text-white position-relative overflow-hidden">
                <div class="price-cash">
                    {% split_price object.sale as sale_price %}
                    {{sale_price.cash}}
                </div>
                <div class="sub-price">
                    <p>{{sale_price.cent}}</p>
                    <img src="{% static 'img/manat.png' %}" alt="₼">
                </div>
                {% if object.price_3 %}
                <hr class="line-through white-line-through">
                {% endif %}
            </div>  
            {% if object.get_price_3_color == 'y' or not object.price_3 %}
                {% include "../main-site/kredit-taksit-carousel.html" with object=object request=request %}
            {% endif %}
        </div>
    {% else %}
        <div class="d-flex align-items-center {% if object.get_price_3_color == 'y' or not object.price_3 %} justify-content-between {% else %} justify-content-end {% endif %} w-100">
            <div class="price text-center {% if object.price_3 %} bg-dark {% else %} bg-danger {% endif %} text-white position-relative overflow-hidden">
                <div class="price-cash">
                    {% split_price object.price as price %}
                    {{price.cash}}
                </div>
                <div class="sub-price">
                    <p>{{price.cent}}</p>
                    <img src="{% static 'img/manat.png' %}" alt="₼">
                </div>
                {% if object.price_3 %}
                <hr class="line-through white-line-through">
                {% endif %}
            </div>  
            
            {% if object.get_price_3_color == 'y' or not object.price_3 %}
                {% include "../main-site/kredit-taksit-carousel.html" with object=object request=request %}
            {% endif %}
        </div>
       
    {% endif %}

    {% if object.price_3 %}
        <div class="d-flex align-items-center {% if object.get_price_3_color == 'r' %} justify-content-between {% else %} justify-content-end {% endif %} w-100">
            <div class="price {{object.get_price_3_color}} text-center">
                <div class="price-cash">
                    {% split_price object.get_price_3 as third_price %}
                    {{third_price.cash}}
                </div>
                <div class="sub-price">
                    <p>{{third_price.cent}}</p>
                    <img src="{% static 'img/manat.png' %}" alt="₼">
                </div>
            </div>
            
            {% if object.get_price_3_color == 'r' %}
            {% include "../main-site/kredit-taksit-carousel.html" with object=object request=request %}
            {% endif %}
        </div>
    {% endif %}
</div>
{% endif %}