{% load static %}

<div class="main-list__price-info mt-5 mt-md-2">
    {% if object.sale and object.price %}
        <div class="price">
            <span class="red-line-trought font-larger--2 opacity-8">
                {{object.price|floatformat:-2}}
            </span>
        </div>  
        <div class="price text-right">
            <span class="text-red position-relative  font-xl">
                {{object.sale|floatformat:-2}}
                {% if object.price_3 %}
                <div class="black-transparent-line-trought">
                    
                </div>
                {% endif %}
            </span>
            <span class="manat">
                <img src="{% static 'img/manat.png' %}" alt="₼">
            </span>
        </div>  
    {% elif object.price %}
        <div class="price text-right">
            <span class="text-red font-xl position-relative">
                {{object.price|floatformat:-2}}
                {% if object.price_3 %}
                <div class="black-transparent-line-trought">
                    
                </div>
                {% endif %}
            </span>
            <span class="manat">
                <img src="{% static 'img/manat.png' %}" alt="₼">
            </span>
        </div>  
    {% endif %}
</div>