{% load i18n  %}
{% load static %}

{% load tire_bottom_icons %}

{% get_tire_bottom_icons as icons %}

<div class="social-box ml-auto d-flex align-items-center justify-content-end">
    {% if not detail %}
    <a class="mr-auto" href="{{object.get_absolute_url}}"><img class="w-100 h-100" src="{% if not icons %}{% static 'img/detail.png' %}{% else %} {{icons.detail_icon.url}} {% endif %}" alt="detail"></a>
    {% endif %}
    <div class="d-flex justify-content-between">
        <a class="order-btn" data-toggle="modal" data-target="#order" data-max="{{object.quantity}}"
        data-price="{{object.sale}}"
        data-id="{{object.id}}"
        data-taksit-list="{{object.get_available_taksit_list}}" ><img class="w-100 h-100" src="{% if not icons %}{% static 'img/cart.png' %}{% else %} {{icons.cart_icon.url}} {% endif %}" alt="cart"></a>
        <a href="tel:{% trans '+994124803162' %}"><img class="w-100 h-100" src="{% if not icons %}{% static 'img/phone.png' %}{% else %}{{icons.phone_icon.url}}{% endif %}" alt="phone"></a>
        <a href="{% trans 'https://wa.me/message/6ZKMXUJK45HMM1' %}"><img class="w-100 h-100" src="{% if not icons %}{% static 'img/watsapp.png' %}{% else %}{{icons.watsapp_icon.url}}{% endif %}" alt="watsapp"></a>
    </div>
</div>
