.specific-card {
  @extend .d-block, .mb-3, .mx-auto;
  max-width: 1000px;
  text-decoration: none !important;
  transition: all 0.1s;

  &:hover {
    box-shadow: 0 2px 3px #ddd;
  }

  & * {
    color: #333;
  }

  &__box {
    @extend .card, .px-1, .py-4;
  }

  &__row {
    @extend .row, .no-gutters;
  }

  &__col {
    &--4 {
      @extend .col-md-4, .d-flex, .align-items-center;
    }

    &--8 {
      @extend .col-md-8;
    }
  }

  &__img {
    @extend .card-img, .d-block, .mx-auto;
    object-fit: contain;
    max-width: 75%;
    height: 100px;
  }

  &__body {
    @extend .card-body;
  }

  &__title {
    @extend .card-title, .text-center;
    font-weight: 400 !important;
  }

  &__text {
    @extend .card-text, .text-center, .mt-5;
  }
}
