.icon {
  display: flex;
  align-items: center;
  @include square(27px);
  padding: 5px;

  border-radius: 50%;
  text-decoration: none;
  color: #fff !important;

  &--dark {
    background-color: #333;
    color: #fff;
  }

  &--light {
    background-color: #fff;
    color: #333 !important;
  }
}
