<header>
    <nav class="admin-navbar">
        <a class="admin-navbar__logo" href="{% url 'custom-admin:tireapp:home' %}">
            {% include "../logo.html"%}
        </a>
        <button class="admin-navbar__toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="admin-navbar__toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="admin-navbar__nav admin-navbar__nav--rigth">
            <li class="admin-navbar__item">
              <a class="admin-navbar__link" href="{% url 'custom-admin:tireapp:home' %}">Tire</a>
            </li>
            <li class="admin-navbar__item">
              <a class="admin-navbar__link" href="{% url 'custom-admin:specific:brand' %}">Brand</a>
            </li>
            <li class="admin-navbar__item">
              <a class="admin-navbar__link" href="{% url 'custom-admin:specific:serie' %}">Serie</a>
            </li>
            <li class="admin-navbar__item">
              <a class="admin-navbar__link" href="{% url 'custom-admin:specific:season' %}">Season</a>
            </li>
            <li class="admin-navbar__item">
              <a class="admin-navbar__link" href="{% url 'custom-admin:specific:country' %}">Country</a>
            </li>
          </ul>
          <ul class="admin-navbar__nav admin-navbar__nav--left">
            <li class="admin-navbar__item">
              <a class="admin-navbar__link" href="{% url 'home' %}">View site</a>
            </li>
            <li class="admin-navbar__item">
              <a class="admin-navbar__btn" href="{% url 'custom-admin:logout' %}?next={% url 'custom-admin:login' %}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
</header>