.main-list {
  @extend .container;

  &__main-row {
    @extend .row;
  }

  &__sub-row {
    @extend .row,
      .no-gutters,
      .px-4,
      .pb-2,
      .justify-content-end,
      .h-100,
      .mt-4;
    position: relative;

    &--2 {
      @extend .row,
        .no-gutters,
        .pt-1,
        .px-4,
        .pb-3,
        .justify-content-between,
        .align-items-start;
      min-height: 300px;

      @include responsive(max, 450px) {
        min-height: 300px;
      }
    }
  }

  &__price-info {
    width: 110px;
  }

  &__col-12 {
    @extend .col-12, .my-3, .mx-auto;
  }

  &__card {
    @extend .card, .mb-3, .py-0;
  }

  &__header {
    @extend .card-header, .text-center, .bg-secondary-1, .text-light;

    &--detail {
      @extend .card-header,
        .text-center,
        .bg-secondary-1,
        .text-light,
        .border-bottom-0,
        .px-2;
    }
  }

  &__item-logo {
    @extend .d-inline-block, .card-img;
    object-fit: contain;
    width: 200px;
    max-height: 50px;

    @include responsive(max, 768px) {
      width: 150px;
      max-height: 40px;
    }

    @include responsive(max, 300px) {
      width: 120px;
    }
  }

  &__img {
    @extend .d-block, .card-img;
    object-fit: contain;

    min-width: 125px;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
  }

  &__col-sm {
    @extend .col-sm-8,
      .col-md-7,
      .w-50,
      .h-100,
      .d-flex,
      .justify-content-center;
    max-height: 326px;
    cursor: pointer;

    &--2 {
      @extend .col-sm-4, .no-gutters;
    }
  }

  &__card-body {
    @extend .card-body, .d-flex, .flex-column, .align-items-end, .p-0;
  }

  &__card-text {
    @extend .card-text, .font-larger, .mb-0;

    &--2 {
      @extend .card-text, .justify-content-end, .font-smaller, .d-flex;
    }
  }

  &__side-info {
    max-width: 150px;
    width: 100%;
    min-width: 80px;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 1;

    @include responsive(max, 768px) {
      max-width: 100px;
    }
  }

  &__side-single {
    @extend .d-flex,
      .text-center,
      .justify-content-center,
      .align-items-center,
      .bg-primary-1,
      .p-1;

    font-size: 18px;

    &.danger {
      @extend .bg-danger, .text-light;
    }
    &.primary-1 {
      @extend .bg-primary-1;
    }

    &:not(:last-of-type) {
      @extend .mb-2;
    }

    @include responsive(max, 768px) {
      padding: 0 !important;
      font-size: 14px;
    }
  }

  &__heading {
    @extend .text-center, .pt-3, .pb-0, .mb-0;
    font-weight: 400 !important;
    letter-spacing: 5px;
  }

  &__empty-text {
    @extend .col-sm-12, .text-center, .py-5, .mb-0, .text-danger;
    font-size: 24px;
    font-weight: 400 !important;
    letter-spacing: 2px;
  }
}

.cart-btn {
  width: 100px;
  margin-right: 10px;
  box-shadow: none !important;

  @include responsive(max, 450px) {
    font-size: 12px;
  }
}

.detail-btn {
  width: 80px;

  @include responsive(max, 450px) {
    font-size: 12px;
    width: 60px;
  }
}

.opacity-8 {
  opacity: 80%;
}

.kredit-taksit-item {
  font-size: 15px;
  max-width: 335px !important;
  margin-left: auto;
}

.kredit-taksit-carousel-info {
  border-radius: 15px;
  height: 40px;
  padding-left: 10px;

  & .manat img {
    @include square(9.5px);
    margin-left: 3px;
    margin-bottom: 3px;
  }
}

.kredit-taksit-fig {
  @include square(100px);
  margin-bottom: 0;
  position: relative;
  z-index: 10;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 30px;
  }
}

.kredit-taksit-container {
  width: 220px !important;
  height: 60px;
}

.sticker-container {
  max-width: 300px !important;
  width: 100%;
  height: 32px;
}

.comming-soon-container {
  max-width: 300px !important;
  width: 100%;
  font-size: 16px;
  align-items: center;

  &--1 {
    background: linear-gradient(110deg, #ffbb00 0 53%, #dc3545 53% 100%);
  }

  &--2 {
    background: linear-gradient(110deg, #ffbb00 0 64%, #dc3545 64% 100%);
  }
}

.non-visible {
  visibility: hidden;
}

.edv-container {
  max-width: 220px !important;
  width: 100%;

  margin-left: auto;

  display: flex;
  justify-content: space-between;
}

.edv-logo {
  max-width: 110px;
}

.edv-price {
  border-left: 1px solid #00000010;
}

.video-player {
  position: relative;
  background-color: #333;

  overflow: hidden;
}

.video {
  height: 100%;
}

.video-tool-container {
  position: absolute;
  background-color: #33333340;
  height: 40px;
  width: 100%;

  bottom: 0;
  left: 0;
}

.video-play-pause {
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.fullscreen-btn {
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 24px;
}

.video-play-pause,
.fullscreen-btn {
  cursor: pointer;
}

.video-tool-progress {
  flex: 1;
  height: 10px;

  & > input[type="range"] {
    -webkit-appearance: none;
    background: linear-gradient(to right, #ffbb00 0 0%, #fff 0% 100%);
    height: 100%;
    width: 100%;

    &::-moz-range-thumb,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      background: #ffbb00;
      cursor: pointer;
      border: none;
      @include square(20px);
      border-radius: 50%;
    }
  }
}

.video-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.price-3 {
  line-height: 0;
  font-size: 24px;

  border-radius: 20px;
  height: 40px;

  margin-top: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .price-container {
    position: relative;
    min-width: 100.08px;
    padding: 0 10px 0 10px;

    display: flex;
    justify-content: center;

    &.r {
      background-color: #ea3223;
      color: #fff;
    }

    &.y {
      background-color: #ffbb00;
      color: #000 !important;

      & img {
        filter: none;
      }
    }

    &.g {
      background-color: #a7a7a7;
      color: #fff;
    }

    .price {
      color: inherit;
      font-size: 22px;
      padding-right: 10px;
    }
  }
}

.price-manat {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -2px;
  right: -7px;

  & img {
    height: 7px;

    filter: brightness(0) invert(1);
  }
}

.oe-logo {
  width: 50px;
}

.social-box {
  margin-top: 10px !important;
}

.social-lg-btn {
  min-width: 101px;

  &.full {
    width: 182px;
  }
}

.social-sm-btn {
  min-width: 81px;

  &.full {
    width: 182px;
  }
}