{% if object.get_OE and object.get_OE.description %}
<section class="mb-5 w-100">
    <div class="container pb-3 w-100">
        <div class="d-flex align-items-center mb-4">
            <div class="oe-logo">
                <img class="w-100" src="{{object.get_OE.image.url}}" alt="{{object.get_OE.title}}">
            </div>
            <p class="bg-my-primary ml-2 p-2 h5 mb-0 text-center line-height-1">
                {{object.get_OE.title}}
            </p>  
        </div>
        <div>
            <p>{{object.get_OE.description|safe}}</p>
        </div>
    </div>    
</section>
{% endif %}