{% load i18n %}

{% if object.tire_class and object.tire_class.title %}
<div class="container">
    <div class="d-flex flex-column flex-sm-row mb-3">
        <div>
            <p class="bg-my-primary text-center h5 mb-0 line-height-1 p-2">
                {{object.tire_class.title}}
            </p>
        </div>
        {% if object.get_tire_class_description %}
        <div class="ml-0 ml-sm-1 mt-1 mt-sm-0">
            <p class="bg-light text-center h5 mb-0 line-height-1 p-2">
                {% trans 'klassa aiddir' %}
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}