{% load i18n %}

<div class="tire-search__container">
    <div class="tire-search__row">
        <div class="tire-search__col-md">
          <select data-url="{% url 'api-makes' %}" name="make" id="make" data-name="make" disabled class="tire-search__select">
              <option value="">{% trans 'Marka' %}</option>
          </select>
        </div>
        <div class="tire-search__col-md">
          <select data-url="{% url 'api-models' %}" name="model" id="model" data-name="model" disabled class="tire-search__select">
              <option value="">{% trans 'Seriya' %}</option>
          </select>
        </div>
        <div class="tire-search__col-md">
          <select  data-url="{% url 'api-years' %}" name="year" id="year" data-name="year" disabled class="tire-search__select">
              <option value="">{% trans 'İl' %}</option>
          </select>
        </div>
        <div class="tire-search__col-md">
          <select data-url="{% url 'api-trims' %}" name="trim" id="trim" data-name="trim" disabled class="tire-search__select">
              <option value="">{% trans 'Model' %}</option>
          </select>
        </div>
    </div>
</div>