{% load static i18n %}
{% load taksit_kredit manat %}

{% get_kredit_takist_dataset object request as kredit_takist_dataset %}
{% get_kredit_taksit_interval as interval %}


{% if kredit_takist_dataset %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner h-100 kredit-taksit-item">
        {% for data in kredit_takist_dataset %}
            <div class="carousel-item {% if forloop.first %} active {% endif %} h-100 w-full" data-interval="{{interval}}" title="{{data.image.description}}">
                <div class="d-flex align-items-center justify-content-end">
                    {% if data.image %}
                    <div class="kredit-taksit-fig d-flex  mr-2" >
                        <img src="{{data.image.url}}" alt="{{data.image.description}}">
                    </div>
                    {% endif %}
                    <div class="kredit-taksit-carousel-info">
                        <div class="my-1">{{data.title|safe}}</div>
                        <div class="my-1">{{data.content|safe}}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div> 
{% endif %}