{% load i18n %}
{% load taksit_kredit %}


<div class="row kredit-table">
    <div class="col-md-12">
      <div class="row">
        <h5 class="col-4 text-center kredit-heading">{% trans 'ay' %}
        </h5>
        <h5 class="col-4 text-center kredit-heading">{% trans 'ilkin odəniş' %}</h5>
        <h5 class="col-4 text-center kredit-heading">{% trans 'aylıq' %}</h5>
      </div>
     
      {% if object.kredit_3_active %}
      <div class="row mb-1">
        <div class="col-4"><div class="bg-primary-1 p-2 text-center">3</div></div>
        <div class="col-4"><div class="bg-light p-2 text-center">0</div></div>
        <div class="col-4"><div class="bg-light p-2 text-center">{{object.kredit_3|floatformat:-2}}</div></div>
      </div>
      {% endif %}
      {% if object.kredit_3_active and object.kredit_3_dif == 0 %}
      <div class="row mb-1">
        <div class="col-4"><div class="bg-danger text-light p-2 text-center">3 {% trans 'ay' %} 0%</div></div>
        <div class="col-4"><div class="bg-danger text-light p-2 text-center">{{object|get_3_month_price|floatformat:-2}}</div></div>
        <div class="col-4"><div class="bg-danger text-light p-2 text-center">{{object|special_kredit_3_month_price|floatformat}}</div></div>
      </div>
      {% endif %}
      {% if object.kredit_6_active %}
      <div class="row mb-1">
        <div class="col-4"><div class="bg-primary-1 p-2 text-center">6</div></div>
        <div class="col-4"><div class="bg-light p-2 text-center">0</div></div>
        <div class="col-4"><div class="bg-light p-2 text-center">{{object.kredit_6|floatformat:-2}}</div></div>
      </div>
      {% endif %}
      {% if object.kredit_6_active and object.kredit_6_dif == 0 %}
      <div class="row mb-1">
        <div class="col-4"><div class="bg-danger text-light p-2 text-center">6 {% trans 'ay' %} 0%</div></div>
        <div class="col-4"><div class="bg-danger text-light p-2 text-center">{{object|get_6_month_price|floatformat:-2}}</div></div>
        <div class="col-4"><div class="bg-danger text-light p-2 text-center">{{object|special_kredit_6_month_price|floatformat}}</div></div>
      </div>
      {% endif %}

      {% if object.kredit_9_active %}
      <div class="row mb-1">
        <div class="col-4"><div class="bg-primary-1 p-2 text-center">9</div></div>
        <div class="col-4"><div class="bg-light p-2 text-center">0</div></div>
        <div class="col-4"><div class="bg-light p-2 text-center">{{object.kredit_9|floatformat:-2}}</div></div>
      </div>
      {% endif %}
      {% if object.kredit_12_active %}
      <div class="row mb-1">
        <div class="col-4"><div class="bg-primary-1 p-2 text-center">12</div></div>
        <div class="col-4"><div class="bg-light p-2 text-center">0</div></div>
        <div class="col-4"><div class="bg-light p-2 text-center">{{object.kredit_12|floatformat:-2}}</div></div>
      </div>
      {% endif %}
    </div>
</div>