<form action="{% url 'search-tire' %}" method="GET" class="container my-3">
    <div class="form-row justify-content-center mb-0">
    <div class="col-md-5 input-group">
        <input name="search" type="text" class="form-control form-control-sm" placeholder="Axtar...">
        <div class="input-group-append w-15">
            <button type="submit" class="d-flex justify-content-center btn btn-sm btn-block btn-my-secondary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
    </div>
</form>