{% load size_parser %} 
{% parse_size request as sizes %}
{% get_resolved_path request as resolved_path %}

<div class="tire-search__container">
    <div class="tire-search__row">
        {% for size in sizes %}
        <div class="tire-search__col-md">
            <select id="{{size.field}}" class="tire-search__select size-select">
                <option value="" selected>{{size.name|capfirst}}</option>
                {% for dimention in size.list %} 
                    {% if dimention == size.default and resolved_path == 'detail-list' %}
                    <option value="{{dimention}}" selected>{{dimention}}</option>
                    {% else %}
                    <option value="{{dimention}}">{{dimention}}</option>
                    {% endif %} 
                {% endfor %}
            </select>
        </div>
        {% endfor %}
    </div>
</div>