{% load slider %}
{% get_slider as slider %}

{% if not slider.is_empty %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for item in slider %}
      <li data-target="#carouselExampleIndicators" {% if forloop.first %} class="active" {% endif %} data-slide-to="{{forloop.counter0}}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for item in slider %}
      
      <div class="carousel-item {% if forloop.first %} active {% endif %}" data-interval="{{item.duration}}">
        <img src="{{item.get_image}}" class="d-block w-100" alt="{{item.name}}">
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}