{% load i18n price_3 %}

<div class="row taksit-table">
    <div class="col-md-12">
      <div class="row">
        <h5 class="col-6 text-center kredit-heading">{% trans 'ay' %}</h5>
        <h5 class="col-6 text-center kredit-heading">{% trans 'aylıq' %}
        </h5>
      </div>
     
      {% if object.taksit_2_active %}
      <div class="row mb-1">
        <div class="col-6"><div class="{% if price_color.taksit >= 2 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">2</div></div>
        <div class="col-6"><div class="{% if price_color.taksit >= 2 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 2 %}</div></div>
      </div>
      {% endif %}
      {% if object.taksit_3_active %}
      <div class="row mb-1">
        <div class="col-6"><div class="{% if price_color.taksit >= 3 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">3</div></div>
        <div class="col-6"><div class="{% if price_color.taksit >= 3 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 3 %}</div></div>
      </div>
      {% endif %}
      {% if object.taksit_6_active %}
      <div class="row mb-1">
        <div class="col-6"><div class="{% if price_color.taksit >= 6 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">6</div></div>
        <div class="col-6"><div class="{% if price_color.taksit >= 6 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 6 %}</div></div>
      </div>
      {% endif %}

      {% if object.taksit_9_active %}
      <div class="row mb-1">
        <div class="col-6"><div class="{% if price_color.taksit >= 9 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">9</div></div>
        <div class="col-6"><div class="{% if price_color.taksit >= 9 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 9 %}</div></div>
      </div>
      {% endif %}
      {% if object.taksit_12_active %}
      <div class="row mb-1">
        <div class="col-6"><div class="{% if price_color.taksit >= 12 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">12</div></div>
        <div class="col-6"><div class="{% if price_color.taksit >= 12 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 12 %}</div></div>
      </div>
      {% endif %}
    </div>
</div>