{% load i18n  %}
{% load price_3 taksit_kredit %}

<div class="row taksit-table">
    <div class="col-md-12">
      <div class="row">
        <h5 class="col-4 text-center kredit-heading">{% trans 'ay' %}</h5>
        <h5 class="col-4 text-center kredit-heading">{% trans 'aylıq' %}
        </h5>
        <h5 class="col-4 text-center kredit-heading">{% trans 'ümumi məbləğ' %}
        </h5>
      </div>
     
      {% if object.taksit_2_active %}
      {% get_total_price 2 object.taksit_2 as total_for_2 %}
      <div class="row mb-1">
        <div class="col-4"><div class="{% if price_color.taksit >= 2 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">2</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 2 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 2 %}</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 2 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center kredit-taksit-total" data-total="{{total_for_2|floatformat:-2}}">{{total_for_2|floatformat:-2}}</div></div>
      </div>
      {% endif %}
      {% if object.taksit_3_active %}
      <div class="row mb-1">
        {% get_total_price 3 object.taksit_3 as total_for_3 %}
        <div class="col-4"><div class="{% if price_color.taksit >= 3 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">3</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 3 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 3 %}</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 3 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center kredit-taksit-total" data-total="{{total_for_3|floatformat:-2}}">{{total_for_3|floatformat:-2}}</div></div>
      </div>
      {% endif %}
      {% if object.taksit_6_active %}
      {% get_total_price 6 object.taksit_6 as total_for_6 %}
      <div class="row mb-1">
        <div class="col-4"><div class="{% if price_color.taksit >= 6 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">6</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 6 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 6 %}</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 6 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center kredit-taksit-total" data-total="{{total_for_6|floatformat:-2}}">{{total_for_6|floatformat:-2}}</div></div>
      </div>
      {% endif %}

      {% if object.taksit_9_active %}
      {% get_total_price 9 object.taksit_9 as total_for_9 %}
      <div class="row mb-1">
        <div class="col-4"><div class="{% if price_color.taksit >= 9 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">9</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 9 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 9 %}</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 9 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center kredit-taksit-total" data-total="{{total_for_9|floatformat:-2}}">{{total_for_9|floatformat:-2}}</div></div>
      </div>
      {% endif %}

      {% if object.taksit_12_active %}
      {% get_total_price 12 object.taksit_12 as total_for_12 %}
      <div class="row mb-1">
        <div class="col-4"><div class="{% if price_color.taksit >= 12 %}bg-danger text-white{% else %}bg-primary-1{% endif %} p-2 text-center">12</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 12 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center">{% get_taksit object price_color 12 %}</div></div>
        <div class="col-4"><div class="{% if price_color.taksit >= 12 %}bg-danger text-white{% else %}bg-light{% endif %} p-2 text-center kredit-taksit-total" data-total="{{total_for_12|floatformat:-2}}">{{total_for_12|floatformat:-2}}</div></div>
      </div>
      {% endif %}
    </div>
</div>