{% load i18n %}
{% load static %}

{% if object.price_3 %}
    <div class="mb-4 price-3">
        <div class="price-description mx-auto">
            <div class="d-flex align-items-center justify-content-center mb-1">{% trans "nağd alışa" %}</div>
            <div class="d-flex align-items-center justify-content-center">{% trans "əlavə endirim" %}</div>
        </div>
        <div class="price-container bg-danger d-flex h-100 align-items-center">
            <div class="text-white px-4 mr-1 price position-relative">
                {{object.price_3}}
                <div class="price-manat">
                    <img src="{% static 'img/manat.png' %}" alt="₼">
                </div>
            </div>
        </div>
    </div>
{% endif %}