{% load i18n %}
{% load social_tags %}
{% get_phone as phone %}

<div class="container my-2 h6">
    <div class="row justify-content-between">
    <div class="col d-flex align-items-center">
        <i class="bi bi-geo-alt-fill"></i>
        <a class="ml-2 text-danger" href="#avto-map">{% trans 'Biz xəritədə' %}</a>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
            {% include "../components/icon.html" with icon="phone" style="light" link=phone.number %}
            <span class="text-danger font-weight-bold">
            {{phone}}
            </span>
    </div>
    </div>
</div>