<thead>
    <tr>
    <th scope="col"></th>
    <th scope="col">
        <input class="form-control form-control-sm" name="brand" type="text" placeholder="Brand">
    </th>
    <th scope="col">
        <input class="form-control form-control-sm" name="serie" type="text" placeholder="Serie">
    </th>
    <th scope="col" class="hidden-at-mobile">
        <input class="form-control form-control-sm" name="size" type="text" placeholder="Size">
    </th>
    <th scope="col">
        <input class="form-control form-control-sm" name="price" type="text" placeholder="Price">
    </th>
    <th scope="col" class="hidden-at-mobile">
        <input class="form-control form-control-sm" name="sale" type="text" placeholder="Sale">
    </th>
    <th scope="col" class="hidden-at-mobile">
        <input class="form-control form-control-sm" name="quantity" type="text" placeholder="Quantity">
    </th>
    <th scope="col">
        <button type="submit" class="btn btn-block btn-sm btn-secondary-1">
        Search
        </button>
    </th>
    </tr>
</thead>