{% load navigation_list %}

{% get_navigation_list as navigations %}


<header class="header">
    <div class="header__nav__container h-100">
      <nav class="header__nav h-100 d-flex">
          <a class="header__nav__logo" href="{% url 'home' %}">
              {% include "../logo.html"%}
          </a>
          <button class="header__nav__toggler ml-auto navbar-toggler toggler-extra" type="button" data-toggle="collapse" 
          id="nav-burger"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="header__nav__nav nav-extra" id="nav-list">
              {% for navigation in navigations %}
              <li class="header__nav__item">
                <a class="header__nav__link" href="{{ navigation.get_link }}">{{navigation.title}}</a>
              </li>
              {% endfor %}

              {% if request.user.is_superuser or request.user.is_staff %}
                <li class="header__nav__item">
                  <a target="blank" class="header__nav__link" href="{% url 'admin:index' %}">Admin</a>
                </li>
              {% endif %}

            </ul>
          </div>
          {% include "./lang-dropdown.html" %}
      </nav>
    </div>
</header>