{% load navigation_list %}

{% get_navigation_list as navigations %}

<header class="header">
    <div class="header__nav__container">
      <nav class="header__nav">
          <a class="header__nav__logo" href="{% url 'home' %}">
              {% include "../logo.html"%}
          </a>
          <button class="header__nav__toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="header__nav__nav">
              {% for navigation in navigations %}
              <li class="header__nav__item">
                <a class="header__nav__link" href="{{ navigation.link }}">{{navigation.title}}</a>
              </li>
              {% endfor %}

              {% if request.user.is_superuser or request.user.is_staff %}
                <li class="header__nav__item">
                  <a target="blank" class="header__nav__link" href="{% url 'admin:index' %}">Admin</a>
                </li>
              {% endif %}
            </ul>
          </div>
      </nav>
    </div>
</header>