<header class="header bg-primary-1">
      <nav class="navigation navbar-expand-lg navbar-light container">
          {% include "../UI/logo.html" %}
          <div class="d-flex align-items-center navigation-utils">
            <button class="border-0 ml-auto navbar-toggler toggler-extra" type="button" data-toggle="collapse" 
            id="nav-burger"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
             {% include "./lang-dropdown.html" %}
          </div>
          {% include "./nav-list.html" %}
      </nav>
</header>