.specific-form {
  @extend .container-fluid, .mb-3, .w-100, .mx-auto;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;

  &__btn-group {
    @extend .d-flex, .justify-content-between;
    & > * {
      width: 45%;
    }
  }
}
