.tireapp-form {
  @extend .container-fluid, .mb-3, .py-3;

  &__btn-group {
    display: flex;
    justify-content: space-between;

    & > * {
      width: 45%;
    }
  }

  &__group {
    margin-left: 10px;
  }

  &__col {
    display: flex;
    height: 50px;
    width: 30%;
    align-items: center;

    * {
      margin: 0;
    }
  }
}
